.editor-header {
    background-color: var(--editor-header);
    height: 4rem;
    padding: 0 0.5rem;
}

.editor-header .header-icon {
    height: 2.8rem;
    width: 2.8rem;
    cursor: pointer;
    border-radius: 50%;
}

.editor-header .meta-container {
    padding: 0 0 0 0.5rem;
    text-align: left;
}

.editor-header .meta-container h1 {
    font-size: 1.25rem;
    font-weight: 500;
    color: #3485e4;
    margin: 0;
}

.editor-header .meta-container h1 span {
    outline: none;
}

.editor-header .meta-container h1 i {
    font-size: 0.9rem;
    margin: 0 0 0 0.75rem;
    color: var(--secondary);
    transition: filter 0.2s ease,
                transform 0.2s ease;
}

.editor-header .meta-container h1 i:hover {
    filter: brightness(0.9);
    transform: rotate(10deg);
    
}

.editor-header .meta-container p {
    font-size: 0.8rem;
    color: #fff;
    outline: none;
    margin: 0;
}

.editor-header .option {
    font-size: 1.25rem;
    color: var(--secondary);
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    border: none;
    outline: none;
    border-radius: 0.25rem;
    background: transparent;
    transition: color 0.2s ease,
                background-color 0.2s ease;
}

.editor-header .option:hover {
    color: var(--primary);
    background-color: var(--primary-fade);
}

.editor {
    padding: 0.5rem;
    min-height: calc(100vh - 4rem);
    background-color: var(--editor-gutter);
}

.editor .gutter {
    background-color: var(--editor-gutter);
}

.editor .container {
    background-color: #fff;
    border-radius: 0.25rem;
    overflow: hidden;
}

.editor .container.code {
    background-color: var(--editor-code);
    user-select: none;
}

.code header {
    padding: 0.25rem 0.5rem;
    font-size: 1.1rem;
    font-weight: 500;
    background-color: var(--editor-header);
    color: #fff;
}

.editor .iframe-wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.iframe-wrapper iframe {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
}

.fade-in {
    animation: fade-in 0.3s linear forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal-wrapper {
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-wrapper .modal {
    background-color: var(--background);
    border-radius: 0.25rem;
    padding: 2rem 2.5rem;;
    font-size: 1.1rem;
    position: relative;
    width: 35rem;
    color: #fff;
    border: 0.1rem solid var(--secondary);
}

.modal h1 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--primary);
    margin: 0 0 1rem 0;
}

.modal .close {
    color: var(--secondary);
    cursor: pointer;
    position: absolute;
    top: 1rem; right: 1rem;
    font-size: 1.25rem;
    transition: color 0.2s ease;
}

.modal .close:hover {
    color: #e1e2e4;
}

.modal button.delete {
    border: 0.1rem solid var(--background-light);
    border-radius: 0.5rem;
    background-color: var(--background-fade);
    color: var(--accent);
    font-size: 1rem;
    padding: 0.5rem;
    margin: 1rem 0 0 0;
    transition: background-color 0.2s ease,
                border-color 0.2s ease,
                color 0.2s ease;
}

.modal button.delete:hover {
    background-color: var(--accent);
    border-color: var(--accent);
    color: #fff;
}

.modal .label {
    color: #e1e2e4;
}

.toggle-switch {
    --size: 1.5rem;
    border-radius: 10rem;
    background: var(--background-light);
    height: var(--size);
    width: 2.75rem;
    position: relative;
    overflow: hidden;
}

.toggle-switch input {
    position: absolute;
    left: -0.5rem; top: -0.5rem;
    opacity: 0;
    cursor: pointer;
    height: 4rem;
    width: 4rem;
}

.toggle-switch .toggle-ball {
    position: absolute;
    left: 0;
    height: var(--size);
    width: var(--size);
    background-color: #fff;
    border-radius: 100%;
    pointer-events: none;
    transition: left 0.2s ease,
                background-color 0.2s ease;
}

.toggle-switch.checked .toggle-ball {
    left: calc(100% - var(--size));
    background-color: var(--primary);
}
/* 

<div className="toggle-switch">
            <input type="checkbox" class="switch-checkbox" name="toggle-switch" checked={check} />
            <label class="toggle-switch-label" for="toggle-switch">
                {label}
            </label>
        </div>*/