.editor-header {
    background-color: var(--editor-header);
    height: 4rem;
    padding: 0 0.5rem;
}

.editor-header .header-icon {
    height: 2.8rem;
    width: 2.8rem;
    cursor: pointer;
    border-radius: 50%;
}

.editor-header .meta-container {
    padding: 0 0 0 0.5rem;
    text-align: left;
}

.meta-container input {
    outline: none;
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
    text-overflow: ellipsis;
}

.meta-container .header input {
    font-size: 1.25rem;
    font-weight: 500;
    color: #3485e4;
}

.meta-container .header i {
    font-size: 0.9rem;
    margin: 0 0 0 0.75rem;
    color: var(--secondary);
    transition: filter 0.2s ease,
                transform 0.2s ease;
}

.meta-container .header i:hover {
    filter: brightness(0.9);
    transform: rotate(10deg);
    
}

.meta-container .description {
    font-size: 1rem;
    color: #fff;
}

.editor-header .option {
    font-size: 1.25rem;
    color: var(--secondary);
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    border: none;
    outline: none;
    border-radius: 0.25rem;
    background: transparent;
    transition: color 0.2s ease,
                background-color 0.2s ease;
}

.editor-header .option:hover {
    color: var(--primary);
    background-color: var(--primary-fade);
}

.editor {
    padding: 0.5rem;
    min-height: calc(100vh - 4rem);
    background-color: var(--editor-gutter);
}

.editor .gutter {
    background-color: var(--editor-gutter);
}

.editor .container {
    background-color: #fff;
    border-radius: 0.25rem;
    overflow: hidden;
}

.editor .container.code {
    background-color: var(--editor-code);
    user-select: none;
}

.code header {
    padding: 0.25rem 0.5rem;
    font-size: 1.1rem;
    font-weight: 500;
    background-color: var(--editor-header);
    color: #fff;
}

.iframe-wrapper {
    height: 100vh;
}

.editor .iframe-wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.fade-in {
    animation: fade-in 0.3s linear forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal-wrapper {
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-wrapper .modal {
    background-color: var(--background);
    border-radius: 0.25rem;
    padding: 2.5rem;;
    font-size: 1.1rem;
    position: relative;
    width: 35rem;
    color: #fff;
    border: 0.1rem solid var(--secondary);
}

.modal h1 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--primary);
    margin: 0 0 1.5rem 0;
}

.modal .close {
    color: var(--secondary);
    cursor: pointer;
    position: absolute;
    top: 1rem; right: 1rem;
    font-size: 1.5rem;
    transition: color 0.2s ease;
}

.modal .close:hover {
    color: #e1e2e4;
}

.modal button i {
    font-size: 0.7rem;
    margin: 0 0.5rem 0 0;
}

.modal .dependencies {
    margin: 0 0 1rem 0;
    padding: 0;
    height: 5rem;
    list-style: none;
    list-style-type: none;
    overflow-y: scroll;
}

.dependency {
    font-size: 1.1rem;
    margin: 0 0 0.5rem 0;
    color: #fff;
}

.dependency > span {
    max-width: calc(100% - 5rem);
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.dependency i {
    cursor: pointer;
    margin: 0 0.75rem 0 0;
    transition: color 0.2s ease;
}

.dependency .remove {
    justify-self: flex-end;
    margin-left: auto;
}

.dependency .remove:hover {
    color: var(--accent);
}

.modal .label {
    color: #e1e2e4;
}

.toggle-switch {
    --size: 1.5rem;
    border-radius: 10rem;
    background: var(--background-light);
    height: var(--size);
    width: 2.75rem;
    position: relative;
    overflow: hidden;
}

.toggle-switch input {
    position: absolute;
    left: -0.5rem; top: -0.5rem;
    opacity: 0;
    cursor: pointer;
    height: 4rem;
    width: 4rem;
}

.toggle-switch .toggle-ball {
    position: absolute;
    left: 0;
    height: var(--size);
    width: var(--size);
    background-color: #fff;
    border-radius: 100%;
    pointer-events: none;
    transition: left 0.2s ease,
                background-color 0.2s ease;
}

.toggle-switch.checked .toggle-ball {
    left: calc(100% - var(--size));
    background-color: var(--primary);
}