.error {
    overflow: hidden;
    text-align: center;
    min-height: 100vh;
}

.error h1 {
    font-size: 4rem;
    margin: 0 0 1rem 0;
    color: var(--primary);
}

.error p {
    margin: 0 0 1rem 0;
    font-size: 1.25rem;
    color: #fff;
}

.error > div {
    font-size: 1.25rem;
    color: #fff;
}

.error > div a {
    margin: 0 1rem 0 0;
    background-color: var(--primary-fade);
    color: var(--primary);
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    transition: background-color 0.2s ease;
}

.error > div a:hover {
    background-color: var(--secondary-fade);
}