:root {
  --accent: #f0491d;
  --editor-gutter: #0e1525;
  --editor-header: #1d2333;
  --editor-code: #1d2333;
  --primary: #3485e4;
  --primary-fade: #1f2f49;
  --secondary: #696d78;
  --secondary-fade: #282d3d;
  --background: #1d2333;
  --background-fade: #262b3b;
  --background-light: #2b3140;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
  background-color: var(--editor-gutter);
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

button, input {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
  user-select: none;
}