:root {
  --accent: #f0491d;
  --play-button: #21a243;
  --editor-gutter: #0e1525;
  --editor-header: #1d2333;
  --editor-code: #1d2333;
  --primary: #3485e4;
  --primary-fade: #1f2f49;
  --secondary: #696d78;
  --secondary-fade: #282d3d;
  --background: #1d2333;
  --background-fade: #262b3b;
  --background-light: #2b3140;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
  background-color: var(--editor-gutter);
}

body {
    min-height: 100vh;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

button, input {
  border: none;
  outline: none;
}

button {
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    border: 0.1rem solid var(--background-light);
    background-color: var(--background-fade);
    border-radius: 0.5rem;
    font-size: 1rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    transition: background-color 0.2s ease,
                border-color 0.2s ease,
                color 0.2s ease;
}


input.default {
    border: 0.1rem solid var(--background-light);
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 100%;
    font-size: 1rem;
    color: #fff;
    background-color: transparent;
    transition: border-color 0.2s ease;
}

input.default::placeholder {
    color: var(--secondary);
}

input.default:hover {
    border-color: var(--primary);
}

button.danger-button {
  color: var(--accent);
}

button.danger-button:hover {
  background-color: var(--accent);
  border-color: var(--accent);
  color: #fff;
}

button.primary-button {
  color: var(--primary);
}

button.primary-button:hover {
  background-color: var(--primary);
  border-color: var(--primary);
  color: #fff;
}

button.secondary-button {
  color: #e1e2e4;
}

button.secondary-button:hover {
  background-color: var(--background-light);
}

iframe {
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  background-color: #fff;
}

::-webkit-scrollbar {
  width: 0.625rem;
  background: var(--background-fade);
}

::-webkit-scrollbar-track {
  background: var(--background-fade);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 0.5rem;
}